body{
    margin: 0;
    padding: 0;
}

/* Navigation bar  */

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    margin-top: 0;
}
header nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 3px solid rgb(0, 154, 214);
    position: fixed;
    background-color: white;
    margin-top: 0px;
    padding-top: 10px;
    z-index: 1000;
}

header nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    /* margin-right: 0; */
    margin-top: 5%;
    transform: translateX(60%);
}

header nav ul li a{
    /* margin-right: 20px; */
    
    padding: 10px;
    font-size: 15px;
    /* font-weight: bold; */
    color: black;
    text-decoration: none;
    background-color: turquoise;
    margin-right: 10px;
}

.menu{
    margin-right: 0;
}

.search-img{
    height: 15px;
    width: 15px;
    /* margin-left: 30px; */
}

.logo{
    margin-left: 60px;
}

/* Navigation bar so far */

/* Image Slider */

.image-slider{
    margin-top: 80px;
}



/* About section */

.about{
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    margin-bottom: 30px;
}

.line{
    /* transform: translateX(50%); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 44%;
    border: 0.5px solid rgb(0, 154, 214);
    background-color: rgb(0, 154, 214);
    border-collapse: collapse;
    height: 3px;
    width: 170px;
    margin-bottom: 40px;
}

/* About So far */

/* Services */


.ReadMore{
    background-color: rgb(0, 154, 214);
    font-size: 16px;
    border: none;
    color: white;
}

.services{
    background-color: rgb(224, 213, 213);
    text-align: center;
    padding: 50px;
}

.services-title{
    font-size: 30px;
    margin-top: 50px;
}

.services h2{
    font-size: 20px;
    /* margin-top: 50px; */
}

.box-container{
    display: flex;
    margin-top: 80px;
}

.box{
    /* padding: 30px; */
    margin: 10px;
    height: 350px;
    width: 300px;
    background-color: white;
    position: relative;
    /* overflow: hidden; */
}

.inner-box{
    background-color: white;
    font-size: 14px;
    height: 250px;
    width: 280px;
    padding: 20px;
    margin-top: 20px;
}

.box h3{
    font-size: 17px;
    
}

.circle{
    /* background-color: rgb(0, 154, 214);
    height: 100px;
    width: 100px;
    transform: translateX(-50%);
    border-radius: 50%; */
    width: 100px;
    height: 100px;
    background-color: rgb(72, 159, 241);
    border-radius: 50%; 
    /* position: absolute;  */
    margin-top: -50px; 
    margin-left: 50%; 
    transform: translateX(-50%); 
}

.circle img{
    height: 50px;
    width: 50px;
    margin-top: 25px;
    /* margin-left: 25px; */
}

.circle:hover{
    scale: 1.1;
    transition: 0.5s;
}

/* Services SO far */

/* Solutions */

.solutions{
    background-color: rgb(167, 162, 162);
    text-align: center;
    padding: 50px;
}