body{
    margin: 0;
    padding: 0;
}

/* Navigation bar  */

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    margin-top: 0;
}
header nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 3px solid rgb(0, 154, 214);
    position: fixed;
    background-color: white;
    margin-top: 0px;
    padding-top: 10px;
    z-index: 1000;
}

header nav ul{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    list-style: none;
    /* margin-right: 0; */
    margin-top: 3%;
    transform: translateX(70%);
}

header nav ul li a{
    /* margin-right: 20px; */
    
    padding: 10px;
    font-size: 15px;
    /* font-weight: bold; */
    color: black;
    text-decoration: none;
    background-color: rgb(0, 183, 255);
    margin-right: 10px;
}

.menu{
    margin-right: 0;
}

.menu a{
    font-size: 13px;
}

.search-img{
    height: 15px;
    width: 15px;
    /* margin-left: 30px; */
}

.logo{
    margin-left: 60px;
}

/* Navigation bar so far */

/* Image Slider */

.image-slider{
    margin-top: 80px;
}



/* About section */

.about{
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    margin-bottom: 30px;
}

.line{
    /* transform: translateX(50%); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 44%;
    border: 0.5px solid rgb(0, 154, 214);
    background-color: rgb(0, 154, 214);
    border-collapse: collapse;
    height: 3px;
    width: 170px;
    margin-bottom: 40px;
}

/* About So far */

/* Services */


.ReadMore{
    background-color: rgb(0, 154, 214);
    font-size: 16px;
    border: none;
    color: white;
}

.services{
    background-color: rgb(224, 213, 213);
    text-align: center;
    padding: 50px;
}

.services-title{
    font-size: 30px;
    margin-top: 50px;
}

.services h2{
    font-size: 20px;
    /* margin-top: 50px; */
}

.box-container{
    display: flex;
    margin-top: 80px;
}

.box{
    /* padding: 30px; */
    margin: 10px;
    height: 350px;
    width: 300px;
    background-color: white;
    position: relative;
    /* overflow: hidden; */
}

.inner-box{
    background-color: white;
    font-size: 14px;
    height: 250px;
    width: 280px;
    padding: 20px;
    margin-top: 20px;
}

.box h3{
    font-size: 17px;
    
}

.circle{
    /* background-color: rgb(0, 154, 214);
    height: 100px;
    width: 100px;
    transform: translateX(-50%);
    border-radius: 50%; */
    width: 100px;
    height: 100px;
    background-color: rgb(72, 159, 241);
    border-radius: 50%; 
    /* position: absolute;  */
    margin-top: -50px; 
    margin-left: 50%; 
    transform: translateX(-50%); 
}

.circle img{
    height: 50px;
    width: 50px;
    margin-top: 25px;
    /* margin-left: 25px; */
}

.circle:hover{
    scale: 1.1;
    transition: 0.5s;
}

/* Services SO far */

/* Solutions */

.solutions{
    background-color: rgb(167, 162, 162);
    text-align: center;
    padding: 50px;
}

.sol-box-container{
    display: flex;
    margin-top: 80px;
}

.sol-box{
    padding: 30px;
}

.sol-box .innerbox-heading a{
    text-decoration: none;
    color: rgb(39, 39, 39) ;
}

.sol-box .innerbox-heading a:hover{
    color: rgb(2, 121, 168);
    transition: 0.2s;
}

.solutions h1{
    font-size: 30px;
}

/* Solutions So Far */

/* Events */
.events{
    padding: 50px;
    text-align: center;
}

.events h1{
    font-size: 30px;
    color: rgb(63, 63, 63);
}

.events-box{
    padding: 0px 50px;
}

.events-box h2{
    font-size: 20px;
    color: rgb(77, 77, 77);
}

/* Events So Far */

/* Testimonials */

 .testimonials{

    text-align: center;
    padding: 50px;
    background-image:url("images/testimonial-bg.jpg") !important; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


.testimonials h1, .testimonials h3{
    padding: 30px;
    font-size: 30px;
    color: white;
}


.carousel-container {
    padding: 20px;
  }

  .card {
    min-width: 450px; 
    margin: 0 10px;
    padding: 30px;
    background-color: white;
    border: none;
    border-radius: 0;
  }

  .carousel-inner {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .carousel-inner::-webkit-scrollbar {
    display: none;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }

  .indicator {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  .indicator.active {
    background-color: #007bff;
  }

  .btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  } 

  /* So far Testimonials */


  /* Contact */

.contact{
    background-color: rgb(51, 174, 255);
    height: 150px;
}

.contact ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;   
}

/* .contact ul li img{
    width: 50px;
    height: 50px;
}

.contact ul{
    margin-left: 50px;
}

.contact ul li{
    padding-left: 80px;
    margin-top: 50px;
}

.contact ul li p{
text-align: center;
transform: translateX(-40%);
} */

.contact .contact-images li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-right: 110px;
}

.contact .contact-images img{
    width: 50px;
    height: 50px;
    align-items: space-between;
    margin-left: 80px;
}

.contact .contact-details li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 50px; */
    margin-right: 40px;
}

.contact .contact-details p{
    /* width: 50px;
    height: 50px; */
    align-items: space-between;
    /* margin-left: 50px; */
    color: white;
    font-weight: 500;
}

/* Contact So Far */

/* Footer */
footer{
    width: 100%;
    background-color: rgb(28, 45, 51);
}

footer .container{
    width: 100%;
}

footer .inner-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    color: white;
    
}

footer .inner-container div{
    /* margin: 20px; */
    font-size: 13px;
    width: 300px;
}

footer .inner-container div ul{
    list-style: ">";
    padding: 0;
    margin: 0;
}

footer .inner-container div h1{
    font-size: 20px;
    text-transform: uppercase;
}

/* .google-map{
    margin: 0;
    padding: 0;
} */

footer .footer-address{
    width: 400px !important;
}

footer .footer-address h5{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

footer .links a{
    color: rgb(158, 158, 158);
    text-decoration: none;
}

footer .links a:hover{

    color: rgb(34, 92, 199);
}

footer .inner-container .get-in-touch form{
    width: 230px;

}

footer .inner-container .get-in-touch form input{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

footer .inner-container .get-in-touch form input[type="submit"]{
    width: 30%;
    padding: 5px;
    margin: 5px 0;
    background-color: rgb(0, 154, 214);
    border: none;
    color: white;
    text-transform: uppercase;
}

.footer-address {
    color: rgb(158, 158, 158);
}

.footer-address h1, .footer-address h5{
    color: white;
}


.site-info{
    background-color: rgb(97, 97, 97);
    padding: 10px;
    color: white;
    font-size: 15px;
    padding-left: 80px;
    border-top: #007bff 3px solid;

}

.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    /* display: inline; */
}

.social-icons img{
    
    width: 20px;
    height: 20px;
    margin: 10px;
}

.site-info .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* About us page */

.about-page{
    margin-top: 100px;
    padding-left: 30px;
}

.about-page h1{
    font-size: 30px;
}

.about-page p{
    font-size: 15px;
}

.about-page .line{
    margin-left:0px ;
}

button{
    cursor: pointer;
}